<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Selecciona tus asientos</title>
</head>
<body>
<header>
    <a th:href="@{/}">
        <img class="logo" th:src="@{/img/blackWolfHorizontal.png}" alt="logo">
    </a>
    <nav>
        <ul class="nav_links">
            <li class="nav_item"><p class="userName">Hola <span sec:authentication="principal.username"></span></p></li>
            <li>
                <form action="#" th:action="@{/logout}" method="POST">
                    <input type="submit" value="Cerrar Sesion" class="cerrar-sesion"/>
                </form>
            </li>
        </ul>
    </nav>
</header>

<style>
    input[type=checkbox]{
        display: none;
    }

    .asientos{
        margin: 30px 0;
    }

    .contenedor-pantalla{
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }

    .pantalla{
        border-radius: 10px;
        height: 10px;
        background-color: #d8d8d8;
        width: 40%;
    }

</style>

<div class="contenedorAsientos">
    <br>
    <h1>Selecciona tus asientos</h1>
    <p class="">Da click en el asiento deseado</p>

    <div class="contenedor-pantalla">
        <div class="pantalla">
        </div>
    </div>
    <div class="asientos">

    </div>
    <form action="#" th:action="@{/tickets/save}" th:object="${show}" method="POST">
        <input type="hidden" th:field="*{showId}">
        <table style="display: none;" id="mytable">
        </table>
        <div class="screen"></div>
        <div class="button">
        <button type="submit" class="btn btn-info col-2">Continuar</button>
        </div>
    </form>
</div>
<br>
<br>
<footer>
    <p>Black Wolf Cinema ®️</p>
</footer>
<script th:inline="javascript">
    var cinemaRoomId = [[${show.cinemaRoom.cinemaRoomId}]];
    var showId = [[${show.showId}]];

</script>

<script th:src="@{/js/selectSeats.js}"></script>

</body>

</html>