<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[[${movie.name}]]</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    
</head>
<body>

    <header>
        <a th:href="@{/}" class="index_link"><img class="logo" th:src="@{/img/blackWolfHorizontal.png}" alt="logo"></a>
        <nav>
            <ul class="nav_links">
                <li class="nav_item"><p class="userName">Hola <span sec:authentication="principal.username"></span></p></li>
                <li>
                    <form action="#" th:action="@{/logout}" method="POST">
                        <input type="submit" value="Cerrar Sesion" class="cerrar-sesion"/>
                    </form>
                </li>
            </ul>
        </nav>
    </header>

    <style>
        .name{
            margin-bottom: 10px;
        }

        .row{
            margin: 100px;
            display: grid;
            grid-template-columns: 1fr 2fr;
            gap: 20px;
        }
    </style>

    <div class="row" th:object="${movie}">
        <div>
            <img th:src="@{/assets/{filename}(filename=*{imagePath})}"
                th:alt="*{name}" width="300">
        </div>
        <div>
            <h2 class="name" th:text="*{name}"></h2>
            <div>
                <p th:text="*{synopsis}"></p>
            </div>
            <p style="margin-top: 10px;" th:text="*{duration} + ' min'"></p>
            <div th:each="show: ${shows}" style="margin: 20px; display: flex; justify-content: center; gap: 10px;">
                <p style="background-color: #1A2C50; padding: 10px; color: white;" href="" th:text="${show.showDate}"></p>
                <a style="background-color: #1A2C50; padding: 10px;" href="" th:text="${show.showHour}"></a>
            </div>
        </div>
    </div>

	
</body>
</html>